@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  margin: 30px;
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303630?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27page-bg.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=30e351d13a4248ba23d8853de6f370dcac7127b67cbebfc855e9bbacfcaa77f2");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE
}

header h1{
  font-size: 350%;
  color: #7C1A00;
  padding: 40px;
  padding-left: 120px;
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303628?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27header-image-1.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=8c1063d1357146483b9d132021989f05c26b86e8bf77197f90a3a14f05abb66d");
  background-repeat: no-repeat;
  background-position: top-left;
}

#container {
  margin-bottom: 30px;
}

nav {
  float: left;
  width: 150px
}

nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #7C1A00;
}

nav li{
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #7C1A00;
  background-color:  #FFE597;
}

nav a{
  color: white;
  background-color: #8C9273;
  padding: 3px;
  padding-right: 50px;
  text-decoration: none;
}

nav a:hover{
  background-color: #7C1A00;  
}

#content{
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303631?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27trans-bg.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=5023b6a9dcd30785a16918c6a1d60d6ddcb34903eba20a6e258da9a822116487");
  border-width: 1px;
  border-style: none;
  border-color: #CCCCCC;
  margin-left: 180px;
  padding: 10px;
}

footer {
  clear: both;
  text-align: center;
}

footer li{
   display: inline;
   padding: 10px;
}

h1{
  color: #8C9273
}

h2 {
  border-left: 20px solid #8C9273;
  border-bottom: 5px solid #8C9273;
  padding-left: 5px;
}

h3 {
background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303629?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27header-star-1.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=eee4a84333bf2ed81b39b414f8ae079a2cfa463cf50070050d2e5ceeb78b89b7");
  background-repeat: no-repeat;
  padding-left: 20px;
}

blockquote {
  background-color: #FFE597;
}

ul {
  list-style-type: block;
}

a{
  color: #7C1A00;
  font-weight: bold;
}

a:hover{
  background-color: #FFE597;
}
