<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>CSS Designer</title>
      <link href="styles.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <header>
         <h1>CSS Designer</h1>
      </header>
      <section id="container">
      <nav>
         <ul>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
            <li><a href="#">Page 4</a></li>
            <li><a href="#">Page 5</a></li>
         </ul>
      </nav>
      <article id="content">
         <h1>Here is a heading of level 1</h1>
         <p>Here is a paragraph. Lorem ipsum dolor consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
         <h2>Here is a heading of level 2</h2>
         <p>Here is a paragraph. Lorem ipsum dolor <a href="unvisitedpage.html">unvisited link</a>, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <strong>&lt;strong&gt; text</strong>. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <em>&lt;em&gt; text</em> consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <a href="#">visited link</a> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
         <h3>Here is a heading of level 3</h3>
         <p>Here is another paragraph. Lorem ipsum dolor <a href="unvisitedpage.html">unvisited link</a>, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <a href="#">visited link</a> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
         <h4>Here is a heading of level 4</h4>
         <ul>
            <li>here is an entry in an unordered list</li>
            <li>here is another entry in an unordered list</li>
            <li>here is the last item in the unordered list</li>
         </ul>
         <h5>Here is a heading of level 5</h5>
         <ol>
            <li>here is an entry in an ordered list</li>
            <li>here is another entry in an ordered list</li>
            <li>here is the last item in the unordered list</li>
         </ol>
         <h6>Here is a heading of level 6</h6>
         <blockquote> This is a blockquoted piece of text (that is marked&nbsp; up with &lt;blockquote&gt;) </blockquote>
         <p>And here is the last paragraph. Lorem ipsum dolor <a href="unvisitedpage.html">unvisited link</a>, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <a href="#">visited link</a> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </article>
      </section>
      <footer>
         <ul>
            <li>Copyright &copy; 2020<li/>
         </ul>
      </footer>
   </body>
</html>





@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  margin: 30px;
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303630?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27page-bg.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T150000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=9deb19ebce68c4777938f3f79922c17d49214ea9516c767f5cfbbfb00115152f");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE
}

header h1{
  font-size: 350%;
  color: #7C1A00;
  padding: 40px;
  padding-left: 120px;
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303628?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27header-image-1.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T150000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=80c6b11d7baa4644a7f1375ae8f55352a5753f7eba103fa9533d11aa8813d7be");
  background-repeat: no-repeat;
  background-position: top-left;
}

#container {
  margin-bottom: 30px;
}

nav {
  float: left;
  width: 150px
}

nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #7C1A00;
}

nav li{
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #7C1A00;
  background-color:  #FFE597;
}

nav a{
  color: white;
  background-color: #8C9273;
  padding: 3px;
  padding-right: 50px;
  text-decoration: none;
}

nav a:hover{
  background-color: #7C1A00;  
}

#content{
  background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303631?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27trans-bg.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=5023b6a9dcd30785a16918c6a1d60d6ddcb34903eba20a6e258da9a822116487");
  border-width: 1px;
  border-style: none;
  border-color: #CCCCCC;
  margin-left: 180px;
  padding: 10px;
}

footer {
  clear: both;
  text-align: center;
}

footer li{
   display: inline;
   padding: 10px;
}

h1{
  color: #8C9273
}

h2 {
  border-left: 20px solid #8C9273;
  border-bottom: 5px solid #8C9273;
  padding-left: 5px;
}

h3 {
background-image: url("https://s3.amazonaws.com/blackboard.learn.xythos.prod/584b1d8497c84/94303629?response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27header-star-1.gif&response-content-type=image%2Fgif&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200915T210000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=AKIAYDKQORRYTKBSBE4S%2F20200915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=eee4a84333bf2ed81b39b414f8ae079a2cfa463cf50070050d2e5ceeb78b89b7");
  background-repeat: no-repeat;
  padding-left: 20px;
}

blockquote {
  background-color: #FFE597;
}

ul {
  list-style-type: block;
}

a{
  color: #7C1A00;
  font-weight: bold;
}

a:hover{
  background-color: #FFE597;
}
